.panel {
    background: #eee;
}

.panel-primary > .panel-heading {
    background: #2e6da4;
}

.panel-default > .panel-heading {
    background: #e8e8e8;
}

body {
    background: #fafafa;
}

.active {
    background-color: #ddd;
}

.reference {
    border: 1px solid #CCC;
}

.overviewLink > a:focus, .overviewLink > a:hover, .reference > a:focus, .reference > a:hover {
    background-color: #ddd;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #ddd;
}

.deprecated .well:after {    
    background: repeating-linear-gradient(
        -45deg,
        rgba(0,0,0,0.05),
        rgba(0,0,0,0.05) 20px,
        rgba(0,0,0,0.1) 20px,
        rgba(0,0,0,0.1) 40px
        );
}

.table {
    background: #e3e3e3;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #d2d2d2;
}

.table > tbody > tr.success > td {
    background-color: #27b027;
}

.table > tbody > tr.warning > td {
    background-color: #ff9500;
}

.table > tbody > tr.danger > td {
    background-color: #e91e19;
}

.table > tbody > tr.generic > td {
    background-color: #b9b9b9;
}

.well {
    border-color: #555;
    background: #f2f2f2;
}

.path-toc-list > li > a {
    color: #333;
}

.panel-warning > .panel-heading {
    color: #fff;
    background: #fe9500;
}

a {
    color: #003b6e;
}


.panel-body {
    background: #f5f5f5;
}

.toggleParams:hover{
    background-color: #f6f6f6 !important;
}

.toggleParams.success:hover > td {
    background-color: #27da27 !important;
}

.toggleParams.warning:hover > td {
    background-color: #ffa930 !important;
}

.toggleParams.danger:hover > td {
    background-color: #ff100a !important;
}

.toggleParams.generic:hover > td {
    background-color: #cfcfcf !important;
}

.collapseToggle:hover {
    background-color: #3683c6 !important;
}

.table .table {
    background-color: #eaeaea;
}

.table .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #dedede;
}

.code {    
    background: #f9f9f9;
    color: black;
}

.highlight {
    background-color: #f6f6f6 !important;
}

.code .highlight {
    background-color: #e3e3e3 !important;
}

.fixedParameterRow {
    border-top: 1px solid #ddd !important;
}